In [76]:
import pandas as pd

import re

wh_df = pd.read_csv('2017.csv')

wh_df.head()

,NAME,STATUS,SALARY,PAY BASIS,POSITION TITLE
0,"Alexander, Monica K.",Employee,"$56,000.00",Per Annum,EXECUTIVE ASSISTANT
1,"Ambrosini, Michael J.",Employee,"$95,000.00",Per Annum,SPECIAL ASSISTANT TO THE PRESIDENT AND DIRECTO...
2,"Amin, Stacy C.",Employee,"$140,000.00",Per Annum,SPECIAL ASSISTANT TO THE PRESIDENT AND ASSOCIA...
3,"Andersen, Whitney N.",Employee,"$94,000.00",Per Annum,DEPUTY DIRECTOR OF OPERATIONS FOR THE WHITE HO...
4,"Anderson, Alexander J.",Employee,"$77,000.00",Per Annum,DIRECTOR OF DIGITAL ENGAGEMENT

In [77]:
pd.unique(wh_df["STATUS"])
pd.unique(wh_df["PAY BASIS"])

wh_df.isnull().sum()

NAME              0
STATUS            0
SALARY            0
PAY BASIS         0
POSITION TITLE    2
dtype: int64

In [78]:
for i in range(len(wh_df)):
    wh_df.at[i, 'SALARY'] = float(re.sub("[^\d\.]", "", wh_df.at[i, 'SALARY']))
    if wh_df.at[i, 'PAY BASIS'] != 'Per Annum':
        wh_df.at[i, 'POSITION TITLE'] = wh_df.at[i, 'PAY BASIS'].strip('Per Annum ')
        wh_df.at[i, 'PAY BASIS'] = 'Per Annum'




wh_df.isnull().sum()

NAME              0
STATUS            0
SALARY            0
PAY BASIS         0
POSITION TITLE    0
dtype: int64

In [83]:

avg_sal = wh_df['SALARY'].mean()
avg_sal

94872.0

In [80]:
pd.unique(wh_df["PAY BASIS"])

array(['Per Annum'], dtype=object)

In [86]:
std_sal = wh_df['SALARY'].std()
std_sal

43112.357820965655

In [87]:
wh_df["SALARY z-score"] = (wh_df['SALARY']- avg_sal)/std_sal

In [88]:
wh_df.head()

,NAME,STATUS,SALARY,PAY BASIS,POSITION TITLE,SALARY z-score
0,"Alexander, Monica K.",Employee,56000,Per Annum,EXECUTIVE ASSISTANT,-0.901644
1,"Ambrosini, Michael J.",Employee,95000,Per Annum,SPECIAL ASSISTANT TO THE PRESIDENT AND DIRECTO...,0.00296899
2,"Amin, Stacy C.",Employee,140000,Per Annum,SPECIAL ASSISTANT TO THE PRESIDENT AND ASSOCIA...,1.04675
3,"Andersen, Whitney N.",Employee,94000,Per Annum,DEPUTY DIRECTOR OF OPERATIONS FOR THE WHITE HO...,-0.0202262
4,"Anderson, Alexander J.",Employee,77000,Per Annum,DIRECTOR OF DIGITAL ENGAGEMENT,-0.414545

In [93]:
wh_df[wh_df["SALARY z-score"] > 2.0]

,NAME,STATUS,SALARY,PAY BASIS,POSITION TITLE,SALARY z-score
149,"House, Mark S.",Detailee,187100,Per Annum,SENIOR POLICY ADVISOR,2.13925

In [94]:
wh_df[wh_df["SALARY z-score"] < -2.0]

,NAME,STATUS,SALARY,PAY BASIS,POSITION TITLE,SALARY z-score
60,"Cordish, Reed S.",Employee,0,Per Annum,ASSISTANT TO THE PRESIDENT FOR INTERGOVERNMENT...,-2.20058
185,"Kushner, Jared C.",Employee,0,Per Annum,ASSISTANT TO THE PRESIDENT AND SENIOR ADVISOR,-2.20058
352,"Trump, Ivanka M.",Employee,0,Per Annum,FIRST DAUGHTER AND ADVISOR TO THE PRESIDENT,-2.20058