In [95]:
import pandas as pd

import re

wh_df = pd.read_csv('2017.csv')

wh_df.head()

,NAME,STATUS,SALARY,PAY BASIS,POSITION TITLE
0,"Alexander, Monica K.",Employee,"$56,000.00",Per Annum,EXECUTIVE ASSISTANT
1,"Ambrosini, Michael J.",Employee,"$95,000.00",Per Annum,SPECIAL ASSISTANT TO THE PRESIDENT AND DIRECTO...
2,"Amin, Stacy C.",Employee,"$140,000.00",Per Annum,SPECIAL ASSISTANT TO THE PRESIDENT AND ASSOCIA...
3,"Andersen, Whitney N.",Employee,"$94,000.00",Per Annum,DEPUTY DIRECTOR OF OPERATIONS FOR THE WHITE HO...
4,"Anderson, Alexander J.",Employee,"$77,000.00",Per Annum,DIRECTOR OF DIGITAL ENGAGEMENT

Consider the data set below. Write some python code that illustrates
some common feature engineering and/or data preparation tasks.

In [100]:



wh_df.isnull().sum()

NAME              0
STATUS            0
SALARY            0
PAY BASIS         0
POSITION TITLE    2
dtype: int64

In [101]:
pd.unique(wh_df["PAY BASIS"])

array(['Per Annum', 'Per Annum SPECIAL ASSISTANT',
       'Per Annum DIRECTOR OF SPECIAL PROJECTS FOR CORRESPONDENCE'],
      dtype=object)

In [102]:
pd.unique(wh_df["STATUS"])

array(['Employee', 'Detailee'], dtype=object)

In [103]:
for i in range(len(wh_df)):
    wh_df.at[i, 'SALARY'] = float(re.sub("[^\d\.]", "", wh_df.at[i, 'SALARY']))
    if wh_df.at[i, 'PAY BASIS'] != 'Per Annum':
        wh_df.at[i, 'POSITION TITLE'] = wh_df.at[i, 'PAY BASIS'].strip('Per Annum ')
        wh_df.at[i, 'PAY BASIS'] = 'Per Annum'




wh_df.isnull().sum()

NAME              0
STATUS            0
SALARY            0
PAY BASIS         0
POSITION TITLE    0
dtype: int64

In [104]:

avg_sal = wh_df['SALARY'].mean()
avg_sal

94872.0

In [105]:
pd.unique(wh_df["PAY BASIS"])

array(['Per Annum'], dtype=object)

In [106]:
std_sal = wh_df['SALARY'].std()
std_sal

43112.357820965655

In [107]:
wh_df["SALARY z-score"] = (wh_df['SALARY']- avg_sal)/std_sal

In [108]:
wh_df.head()

,NAME,STATUS,SALARY,PAY BASIS,POSITION TITLE,SALARY z-score
0,"Alexander, Monica K.",Employee,56000,Per Annum,EXECUTIVE ASSISTANT,-0.901644
1,"Ambrosini, Michael J.",Employee,95000,Per Annum,SPECIAL ASSISTANT TO THE PRESIDENT AND DIRECTO...,0.00296899
2,"Amin, Stacy C.",Employee,140000,Per Annum,SPECIAL ASSISTANT TO THE PRESIDENT AND ASSOCIA...,1.04675
3,"Andersen, Whitney N.",Employee,94000,Per Annum,DEPUTY DIRECTOR OF OPERATIONS FOR THE WHITE HO...,-0.0202262
4,"Anderson, Alexander J.",Employee,77000,Per Annum,DIRECTOR OF DIGITAL ENGAGEMENT,-0.414545

In [109]:
wh_df[wh_df["SALARY z-score"] > 2.0]

,NAME,STATUS,SALARY,PAY BASIS,POSITION TITLE,SALARY z-score
149,"House, Mark S.",Detailee,187100,Per Annum,SENIOR POLICY ADVISOR,2.13925

What are some descriptive statistics about this set? What can you say about the distribution of this data?

In [110]:
wh_df[wh_df["SALARY z-score"] < -2.0]

,NAME,STATUS,SALARY,PAY BASIS,POSITION TITLE,SALARY z-score
60,"Cordish, Reed S.",Employee,0,Per Annum,ASSISTANT TO THE PRESIDENT FOR INTERGOVERNMENT...,-2.20058
185,"Kushner, Jared C.",Employee,0,Per Annum,ASSISTANT TO THE PRESIDENT AND SENIOR ADVISOR,-2.20058
352,"Trump, Ivanka M.",Employee,0,Per Annum,FIRST DAUGHTER AND ADVISOR TO THE PRESIDENT,-2.20058

In [116]:


df2 = pd.read_csv('data.csv', names = ('A', 'B'))
df2.head()

   A          B
0  0  23.827290
1  1  23.589108
2  2  24.529556
3  3  16.684580
4  4  22.075507

In [127]:
AB_corr = df2["A"].corr(df2["B"])
AB_corr

0.009085563393337125

In [128]:
B_mean = df2["B"].mean()
B_mean

23.03607517257654

In [129]:
B_med  = df2["B"].median()
B_med

23.02404201050868

In [130]:
B_min  = df2["B"].min()
B_min

11.248685751594444

In [131]:
B_max  = df2["B"].max()
B_max

33.286532598678825

In [152]:
B_std = df2["B"].std()
B_std

2.9952962929402696

In [133]:
B_range = df2["B"].max() - df2["B"].min()
B_range

22.03784684708438

In [144]:
len( df2[B_mean-3*B_std > df2["B"] ] ) /len(df2)

0.0011

In [145]:
len( df2[B_mean+3*B_std < df2["B"] ] ) /len(df2)

0.0012

In [146]:
len( df2[B_mean-2*B_std > df2["B"] ] ) /len(df2)

0.0239

In [147]:
len( df2[B_mean+2*B_std < df2["B"] ] ) /len(df2)

0.0216

In [148]:
len( df2[B_mean-1*B_std > df2["B"] ] ) /len(df2)

0.1606

In [149]:
len( df2[B_mean+1*B_std < df2["B"] ] ) /len(df2)

0.1631

In [151]:
(0.0011+0.0012,
0.0239+0.0216,
0.1606+0.1631)

(0.0023, 0.0455, 0.3237)

There data does not appear to be increasing or decreasing, as the correlation between columns "A" and "B" is 0.009085563393337125, or almost 0. The mean (23.03607517257654) and median (23.02404201050868) of the data are very close, suggesting that the distribution of the data is symmetircal. The maximum (33.286532598678825) and minimum (11.248685751594444) values  are both roughly the same distance from the mean/median values, giving a total range of twice about twice this distance (22.03784684708438). Interestingly, 0.23%, 4.55%, and 32.37% of all values are not within 1, 2, and 3 standard deviations (2.9952962929402696) of the mean respectively, with roughly similar splits in terms of entries on each side. In the case of a normal distribution 0.3%, 5%, and 32% of values would be at least 1, 2, and 3 standard deviations from the mean symmetrically. Therefore, from these desrciptive statistics, it appears as though this data closely resembles a normal distribution with a mean of 23.03607517257654 and a standard deviation of 2.9952962929402696.